<a href="https://colab.research.google.com/github/imkumarr/Python/blob/main/tuple_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple = (1, 2, 3)
length = len(my_tuple)
print(length)

3

In [2]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [3]:
my_tuple = (1, 5, 3)
max_value = max(my_tuple)
print(max_value)

5

In [4]:
my_tuple = (1, 5, 3)
min_value = min(my_tuple)
print(min_value)

1

In [5]:
my_tuple = (1, 2, 3)
total = sum(my_tuple)
print(total)

6

In [6]:
my_tuple = (3, 1, 2)
sorted_list = sorted(my_tuple)
print(sorted_list)

[1, 2, 3]

In [7]:
my_tuple = (False, False, True)
result = any(my_tuple)
print(result)

True

In [8]:
my_tuple = (True, True, True)
result = all(my_tuple)
print(result)

True

In [9]:
my_tuple = (1, 2, 2, 3, 2)
count_2 = my_tuple.count(2)
print(result)

True

In [10]:
my_tuple = (1, 2, 3, 2, 4)
index_2 = my_tuple.index(2)
print(result)

True

In [11]:
my_tuple = ('a', 'b', 'c')
for index, value in enumerate(my_tuple):
    print(index, value)

0 a
1 b
2 c

In [12]:
my_tuple = (3, 2, 1)
reversed_tuple = tuple(reversed(my_tuple))
print(reversed_tuple)

(1, 2, 3)

In [13]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
zipped_tuple = tuple(zip(tuple1, tuple2))
print(zipped_tuple)

((1, 'a'), (2, 'b'), (3, 'c'))

In [14]:
my_tuple = (1, 2, 3, 4, 5)
sub_tuple = my_tuple[1:4]  # Creates a new tuple (2, 3, 4)
print(sub_tuple)

(2, 3, 4)

In [15]:
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated_tuple = tuple1 + tuple2  # Creates a new tuple (1, 2, 3, 4)
print(concatenated_tuple)

(1, 2, 3, 4)

In [16]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3

In [17]:
my_tuple = (1, 2, 3, 4, 5)
squared_tuple = tuple(x ** 2 for x in my_tuple)
print(squared_tuple)

(1, 4, 9, 16, 25)

In [20]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'tuple'>